<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>文章列表--layui后台管理模板</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<script type="text/javascript" th:src="@{/layui/layui.js}"></script>
	<link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all" />
	<!--<link rel="stylesheet" href="//at.alicdn.com/t/font_tnyc012u2rlwstt9.css" media="all" />-->
	<link rel="stylesheet" th:href="@{/mcms/css/news.css}" media="all" />
</head>
<body class="childrenBody">
	<blockquote class="layui-elem-quote news_search">
		<div class="layui-inline">
		    <div class="layui-input-inline">
		    	<input type="text" value="" placeholder="请输入关键字" class="layui-input search_input">
		    </div>
		    <a class="layui-btn search_btn">查询</a>
		</div>
		<div class="layui-inline">
			<a class="layui-btn layui-btn-normal add_btn">添加分类</a>
		</div>
	</blockquote>
	<div class="layui-form news_list">
	  	<table class="layui-table">
		    <colgroup>
				<col width="40">
				<col>
				<col width="9%">
				<col width="9%">
				<col width="9%">
				<col width="9%">
				<col width="9%">
				<col width="25%">
		    </colgroup>
		    <thead>
				<tr>
					<th><input type="checkbox" name="" lay-skin="primary" lay-filter="allChoose" id="allChoose"></th>
					<th style="text-align:left;">文章标题</th>
					<th>发布人</th>
					<th>审核状态</th>
					<th>浏览权限</th>
					<th>是否展示</th>
					<th>发布时间</th>
					<th>操作</th>
				</tr> 
		    </thead>
		    <tbody class="news_content"></tbody>
		</table>
	</div>
	<div id="page"></div>

	<script id="demo" type="text/html">
		{{#  layui.each(d, function(index, item){ }}
			<tr>
				<td><input type="checkbox" name="checked" lay-skin="primary" lay-filter="choose"></td>
				<td align="left">{{item.newsName}}</td>
				<td>{{item.newsAuthor}}</td>
				{{#  if(item.newsStatus == "待审核"){ }}
					<td style="color:#f00">{{item.newsStatus}}</td>;
				{{#  } else { }}
					<td >{{item.newsStatus}}</td>;
				{{#  } }}
				<td>{{item.newsLook}}</td>
				<!--<td>开放浏览</td>-->
				<td><input type="checkbox" name="show" lay-skin="switch" lay-text="是|否" lay-filter="isShow"></td>
				<td>2017-04-14</td>
				<td>
					<a class="layui-btn layui-btn-mini news_edit"><i class="iconfont icon-edit"></i> 编辑</a>
					<a class="layui-btn layui-btn-normal layui-btn-mini news_collect"><i class="layui-icon">&#xe600;</i> 收藏</a>
					<a class="layui-btn layui-btn-danger layui-btn-mini news_del" data-id="1"><i class="layui-icon">&#xe640;</i> 删除</a>
				</td>
			</tr>
		{{#  }); }}
	</script>
	<script type="text/javascript" th:src="@{/layui/layui.js}"></script>
	<script type="text/javascript" th:src="@{/mcms/js/newsList.js}"></script>
</body>
</html>